.header{
    background-color: rgb(7, 5, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;

    height: 80px;
    
}

.header a{
    color: white;
    text-decoration: none;
    padding-left: 36px;
    font-size: large;
}
.header a:hover{
    color:orange;
}

